<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465358976094-thvmkrl12irj2i4ucfetk0nhkstb736e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465358976094-thvmkrl12irj2i4ucfetk0nhkstb736e</string>
	<key>API_KEY</key>
	<string>AIzaSyC0uo7j0yLt1FRzxA9hQEzq-OkMzKPkdwM</string>
	<key>GCM_SENDER_ID</key>
	<string>465358976094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.database</string>
	<key>PROJECT_ID</key>
	<string>database-pdp-c6270</string>
	<key>STORAGE_BUCKET</key>
	<string>database-pdp-c6270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465358976094:ios:6fb7fe91727d046cdaf0cf</string>
</dict>
</plist>